@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Kanit', 'Noto Sans KR', sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
input {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #666;
}
#header {
  padding: 20px 50px;
  text-align: center;
  height: 100px;
  background-image: url(images/camping.png);
  background-repeat: none;
  background-size: cover;
  background-color: rgba(93, 101, 12, 0.3);
}
#header h1 {
  font-size: 30px;
  font-weight: 300;
  border-bottom: 2px #FFF solid;
  padding-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
}
#header h1 a {
  color: #FFF;
}
#header h1 a span {
  font-size: 12px;
  display: block;
}
#header .blogMenu {
  font-size: 0;
}
#header .blogMenu li {
  font-size: 14px;
  margin: 0 5px;
  display: inline-block;
}
#header .blogMenu li a {
  color: #FFF;
}
#container {
  width: 990px;
  margin: 20px auto 0;
  overflow: hidden;
}
#container #sidebar {
  width: 250px;
  float: left;
}
#container #sidebar .blogImage {
  position: relative;
  right: -30px;
}
#container #sidebar .blogImage .userID {
  display: block;
  color: #C9C610;
  font-size: 10px;
  position: relative;
  right: -72px;
}
#container #sidebar .blogImage img {
  border: 5px #C9C610 solid;
  width: 120px;
  height: 120px;
  border-radius: 30%;
}
#container #sidebar .category {
  min-height: 200px;
  border: 2px #5D650C solid;
  font-size: 12px;
}
#container #sidebar .category .category-list li {
  margin-left: 5px;
}
#container #sidebar .category h3 {
  background-color: #5D5F1C;
  height: 20px;
  color: #FFF;
  padding: 5px;
}
#container #sidebar .category ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
  background-image: url('');
}
#container #sidebar .recentPost {
  min-height: 300px;
  border: 2px #5D5F1C solid;
}
#container #sidebar .recentPost h3 {
  padding: 5px;
  background-color: #5D5F1C;
  font-size: 13px;
  color: #FFF;
}
#container #sidebar .recentPost ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
}
#container #sidebar .recentComment {
  min-height: 300px;
  border: 2px #5D5F1C solid;
}
#container #sidebar .recentComment h3 {
  padding: 5px;
  background-color: #5D5F1C;
  font-size: 13px;
  color: #FFF;
}
#container #sidebar .recentComment ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
}
#container #content {
  width: 700px;
  margin-left: 270px;
}
#container .entry .titleWrap {
  margin-bottom: 30px;
}
#container .entry .titleWrap h2 a {
  font-weight: 300;
  border-bottom: 2px #5D650C solid;
}
#container .entry .tagTrail {
  border: 1px #5D740C solid;
  border-radius: 3px;
  margin: 35px 0 0;
  padding: 10px 20px;
  position: relative;
}
#container .entry .tagTrail .tagText {
  border-radius: 3px 3px 0 0;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  padding: 0 15px;
  color: #FFF;
  background-color: #5D740C;
}
#container .entry .tagTrail a {
  font-size: 12px;
  color: #FFF;
  background-color: #5D650C;
  padding: 0 10px;
  border-radius: 3px;
}
#container .entry .comment {
  margin-top: 30px;
}
#container .entry .comment .commentList > ol > li {
  margin: 20px 0;
  overflow: hidden;
}
#container .entry .comment .commentList li {
  overflow: hidden;
}
#container .entry .comment .commentList .image {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px #5D5F1C solid;
  border-radius: 3px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
#container .entry .comment .commentList .image img {
  width: 100%;
}
#container .entry .comment .commentList .control {
  margin: 10px;
}
#container .entry .comment .commentList .control + p {
  overflow: hidden;
}
#container .entry .comment .commentList .control .address,
#container .entry .comment .commentList .control .modify,
#container .entry .comment .commentList .control .write {
  border: 1px #5D740C solid;
  border-radius: 3px;
  background-color: #5D740C;
  color: #FFF;
  text-align: center;
  font-size: 12px;
}
#container .entry .comment .commentWrite {
  margin: 10px 0 10px 0;
  text-align: center;
}
#container .entry .comment .commentWrite .textwrap textarea {
  width: 98%;
  border: 1px #5D650C solid;
}
#container .entry .comment .commentWrite p > input[type=submit] {
  float: right;
  background-color: #5D650C;
  border-radius: 3px;
}
#container .entry .comment .commentWrite ul li {
  overflow: hidden;
}
#container .entry .paging {
  text-align: center;
  padding: 20px 0;
}
