@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Pangolin', 'Noto Sans KR', sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
input {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #666;
}
#header {
  padding: 10px 50px 20px;
  height: 120px;
  background-image: url(images/camping.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#header h1 {
  font-size: 30px;
  font-weight: 300;
}
#header h1 a {
  color: #FFF;
}
#header h1 a span {
  font-size: 12px;
  display: block;
}
.menu .blogMenu {
  height: 50px;
  background-color: #244152;
  margin-top: 2px;
}
.menu .blogMenu ul {
  display: inline;
  position: relative;
}
.menu .blogMenu ul .t_menu_home a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('images/house.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.menu .blogMenu ul .t_menu_tag a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('images/spoon.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.menu .blogMenu ul .t_menu_medialog a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('images/car.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.menu .blogMenu ul .t_menu_location a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('images/people.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.menu .blogMenu ul .t_menu_guestbook a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('images/interface.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.menu .blogMenu ul li {
  margin: 10px 20px;
  display: inline-block;
  position: relative;
  right: -680px;
}
#container {
  width: 990px;
  margin: 20px auto 0;
  overflow: hidden;
}
#container #sidebar {
  width: 250px;
  float: left;
}
#container #sidebar .blogImage {
  position: relative;
  right: -30px;
}
#container #sidebar .blogImage .userID {
  display: block;
  color: #C9C610;
  font-size: 10px;
  position: relative;
  right: -100px;
  top: -40px;
}
#container #sidebar .blogImage .blogDesc {
  font-size: 14px;
  position: relative;
  right: -20px;
  padding-top: 20px;
}
#container #sidebar .blogImage img {
  border: 5px #C9C610 solid;
  width: 120px;
  height: 120px;
  border-radius: 30%;
}
#container #sidebar .category {
  min-height: 200px;
  font-size: 12px;
}
#container #sidebar .category .category-list li {
  margin-left: 5px;
}
#container #sidebar .category h3 {
  background-color: #5D5F1C;
  border-radius: 5px;
  height: 20px;
  color: #FFF;
  padding: 5px;
}
#container #sidebar .category ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
  background-image: url('');
}
#container #sidebar .recentPost {
  min-height: 150px;
}
#container #sidebar .recentPost h3 {
  padding: 5px;
  background-color: #5D5F1C;
  border-radius: 5px;
  font-size: 13px;
  color: #FFF;
}
#container #sidebar .recentPost ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
}
#container #sidebar .recentComment {
  min-height: 150px;
}
#container #sidebar .recentComment h3 {
  padding: 5px;
  background-color: #5D5F1C;
  border-radius: 5px;
  font-size: 13px;
  color: #FFF;
}
#container #sidebar .recentComment ul li {
  margin-top: 5px;
  color: #5D740C;
  font-size: 13px;
  padding-left: 10px;
}
#container #sidebar .search {
  padding: 5px;
  margin: 10px 0 10px 15px;
}
#container #sidebar .search input[type=text] {
  border: 1px #FF481F solid;
}
#container #sidebar .search input[type=button] {
  width: 26px;
  height: 26px;
  background-image: url(images/tool.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FF481F;
  font-size: 0;
}
#container #sidebar .calender {
  border: 2px #5D5F1C solid;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 0;
}
#container #sidebar .calender .tt-calendar {
  width: 150px;
  height: 150px;
  font-size: 13px;
}
#container #content {
  width: 700px;
  margin-left: 270px;
}
#container #content .searchList {
  margin-bottom: 10px;
}
#container #content .searchList h3 {
  background-color: #5D740C;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  padding: 5px;
  text-spacing: 1px;
}
#container #content .searchList > li {
  font-size: 10px;
}
#container #content .guestbook {
  position: relative;
}
#container #content .guestbook .guestList > ol > li {
  margin: 10px 0 10px 0;
}
#container #content .guestbook .guestList > ol > li .control {
  float: right;
}
#container #content .guestbook .guestList > ol > li .control a {
  font-size: 10px;
  border: 1px #5D650C solid;
  border-radius: 3px;
}
#container #content .guestbook .guestWrite textarea {
  width: 98%;
  margin: 0, auto;
  background-color: rgba(93, 101, 12, 0.2);
}
#container #content .guestbook .guestWrite input[type=submit] {
  display: block;
  position: relative;
  right: -630px;
  background-color: #5D740C;
}
#container #content .guestbook .guestList .control a {
  border: 1px #5D650C solid;
  border-radius: 30px;
}
#container #content .entry .article {
  padding-top: 10px;
  border-radius: 5px;
  background-color: rgba(93, 101, 12, 0.1);
}
#container #content .entry .titleWrap {
  background-color: rgba(93, 101, 12, 0.3);
}
#container #content .entry .titleWrap h2 a {
  font-weight: 300;
  border-bottom: 2px #5D650C solid;
}
#container #content .entry .titleWrap .category {
  float: left;
}
#container #content .entry .titleWrap .date {
  margin-left: 570px;
}
#container #content .entry .tagTrail {
  border: 1px #5D740C solid;
  border-radius: 3px;
  margin: 35px 0 0;
  padding: 10px 20px;
  position: relative;
}
#container #content .entry .tagTrail .tagText {
  border-radius: 3px 3px 0 0;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  padding: 0 15px;
  color: #FFF;
  background-color: #5D740C;
}
#container #content .entry .tagTrail a {
  font-size: 12px;
  color: #FFF;
  background-color: #5D650C;
  padding: 0 10px;
  border-radius: 3px;
}
#container #content .entry .comment {
  margin: 0 0 10px 0;
  background-color: rgba(93, 116, 12, 0.1);
  overflow: hidden;
}
#container #content .entry .comment .commentList > ol > li {
  margin: 10px 0;
  overflow: hidden;
}
#container #content .entry .comment .commentList > ol > li a:hover {
  background-color: #5D740C;
  color: #FFF;
}
#container #content .entry .comment .commentList > ol > li li {
  margin: 10px 0 10px 38px;
}
#container #content .entry .comment .commentList > ol > li li a {
  margin-right: 3px;
}
#container #content .entry .comment .commentList .image {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
#container #content .entry .comment .commentList .image img {
  width: 100%;
}
#container #content .entry .comment .commentList .control {
  float: right;
  margin: 5px 10px;
  font-size: 12px;
}
#container #content .entry .comment .commentList .control + p {
  overflow: hidden;
}
#container #content .entry .comment .commentList .control .address,
#container #content .entry .comment .commentList .control .modify,
#container #content .entry .comment .commentList .control .write {
  border: 1px #5D740C solid;
  border-radius: 3px;
  color: #5D740C;
  text-align: center;
  font-size: 12px;
}
#container #content .entry .comment .commentWrite {
  margin: 10px 0 10px 0;
  text-align: center;
}
#container #content .entry .comment .commentWrite .textwrap textarea {
  width: 98%;
  border: 1px #5D650C solid;
  border-radius: 30px;
}
#container #content .entry .comment .commentWrite p > input[type=submit] {
  float: right;
  background-color: #5D650C;
  border-radius: 3px;
}
#container #content .entry .comment .commentWrite ul li {
  overflow: hidden;
}
#container #content .entry .paging {
  text-align: center;
  padding: 20px 0;
}
