// out: tg_style.css, sourcemap: false, compress: false
@import url('https://fonts.googleapis.com/css?family=Oswald');

@color-white:#FFF;
@color-black:#000;
@color-font:#666;
@color-change:#009599;

@keyframes change{
    from{width:30px;}
    to{width:0%;}
}
@keyframes line{
    from{width:0%;}
    to{width:100%;}
}

//reset
body{font-family: 'Oswald','Noto Sans KR',sans-serif;}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p,span{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img, video{border:0; vertical-align: top;}
input{vertical-align: middle;}
a{
  text-decoration: none;
  color:inherit;
}
//layout
.blind{
    text-indent: -9999;
    font-size:0;
}
.header{
    height: 80px;
    padding-top: 20px;
    margin: 0 auto;
    background-color: @color-black;
    img{
        height: 44px;
        width: 62px;
        padding: 15px;
        float:left;
    }
    .top-menu{
      position:relative;
      display:inline-block;
      ul{
          margin-bottom: 10px;
      }

      div[class^="tb-"]{
          height: 300px;
          display:none;
          padding: 20px 0;
          background-color: @color-white;
      }
      div[class^="tb-"] ul{
          border:1px #F00 solid;
      }
      div[class^="tb-"] li{
       height: 50px;
       width: 220px;
       background-color: @color-white;
      }
      div[class^="tb-"] a{
       height: 50px;
       color:@color-black;
       display:block;
       background-color: @color-white;
      }
      div[class^="tb-"] a:hover{
          color:@color-change;
      }
      li:hover .com-line{
          animation:line 1s;
        -webkit-animation-fill-mode: forwards;
      }
      div[class^="tb-"] li:hover{
          border-bottom:1px @color-change solid;
      }

    .top-menu-bar:hover div[class^="tb-"]{
      display:block;
    }
    .top-menu-bar a:hover{
        color:@color-change;
        display: block;
     }
     .top-menu-bar a:last-child{
         border-bottom: none;
      }
    .top-menu-bar span:hover{
        color:@color-change;
    }
    .top-menu-bar {
        margin-left: 250px;
        background-color: @color-white;
        color:black;
        transition:2s;
        position: absoulte;

       li{
          width: 220px;
          height: 80px;
          float:left;
          line-height:80px;
          text-align:center;
          position: relative;
          .com-line{
             height: 3px;
             background-color: @color-change;
             position:absolute;
             left: 0;
             bottom: 0;
          }
         }
          a{
              diplay: block;
         span{
              display:inline-block;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              font-weight: bold;
              color:@color-white;
              font-size: 16px;
            }

        }
       }
     }
    .gnb-right{
        float:right;
        margin-right:20px;
        position:relative;
        .home{
            display: inline-block;
            height: 35px;
            width: 40px;
            background-image: url('http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png');
            background-repeat: no-repeat;
            background-position: center;
            background-color: #222222;
            position:relative;
            right:-3px;
            bottom: -16px;
        }
        .home:hover{
            background-color:#535666;
        }
        .eng{
            display: inline-block;
            height: 35px;
            width: 45px;
            background-color: #0b7374;
            position:relative;
            bottom: -5px;
            text-align:center;
            span{
                display:block;
                line-height: 35px;
                text-transform:uppercase;
                color:#FFF;
               }
        }
        .eng:hover{
            background-color: rgba(8,108,109,.5);
        }
        .navi:hover span{
            animation:change 1s;
            animation-iteration-count:infinite;
            // width: 100%;
            // transition: 1s cubic-bezier(0, 3.29, 0.91,-1.46);
            }
        .navi{
            display: inline-block;
            height: 36px;
            width: 40px;
            position: relative;
            right: -10px;
            bottom: -15px;
            span{
             display: block;
            }
           span[class^="line"]{
            border: 1px #F00 solid;
            height: 3px;
            background-color: #fff;
            text-align: right;
            margin-bottom: 10px;
            position: relative;
            right:0;
            bottom:0;
            transition: 1s;
            }
            .line1,
            .line3{
                width: 30px;
            }
            .line2{
                width: 20px;
            }

        }
    }
    gnb-rigth:after{
        content:"menu";
        clear:both;
        position:absolute;
        width:300px;
    }
}
.main-body{
        .first-body{
               width: 100%;
               position: relative;
               top:0;
               right:0;
               bottom:0;
               left:0;
               z-index:-1;
                .tt{
                    position:absolute;
                    top: 40%;
                    left: 38%;
                    img{
                        width: 469px;
                        height: 132px;
                    }
                   }
                 }
            //  first-body close
         .second-body li{
                 float: left;
                 overflow: hidden;
                 width: 33.3333333%;
                 transition: 1s;
                 position: relative;
                 vertical-align: top;
                img{
                    width: 100%;
                    transition:1s;
                 }
                .txt{
                    position:absolute;
                    top:50%;
                    left:0;
                    z-index:10;
                    color: @color-white;
                    font-size: 20px;
                    line-height:20px;
                    margin-top:-20px;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                 }
                }
        .second-body li:hover img{
            transform:scale(1.5,1.5);
        }
        .second-body li:after{
            content:"";
            position:absolute;
            background-color: rgba(0,131,132, .5);
            top:0;
            right:0;
            bottom:0;
            left:0;
            opacity: 0;
            transitionn:1s;
           }
        .second-body li:hover:after{
         opacity:1;
         }
// second-body close
        .third-body{
                   background-color: #1d2227;
                h3{
                    display:inline-block;
                    padding:42px 0;
                    font-size: 40px;
                    color:@color-white;
                    text-transform: uppercase;
                    position: relative;
                    right: -700px;
                    letter-spacing: 3px;
                  }
                img{
                    margin: 20px;
                    position: relative;
                    right: -130px;
                   }
            }
    // third-body colose
        .forth-body li{
            float:left;
            width: 50%;
            overflow:hidden;
            position:relative;
            transition: 1s;
          img{
              width: 100%;
              transition:1s;
            }
          }
        .forth-body li:after{
             content: "";
             position: absolute;
             top:0;
             right:0;
             bottom:0;
             left:0;
             background-color:rgba(0,131,132, .5);
             opacity:1;
             transition: 1s;
        }
        .forth-body li:hover:after{
         opacity:0;
         }
        .forth-body li:hover img{
         transform:scale(1.5,1.5);
         }
        div[class^="text_s"]{
             position:absolute;
             top: 50%;
             left: 38%;
             display:block;
             color:@color-white;
             text-align:center;
             letter-spacing: -0.5px;
             font-size: 30px;
             :last-child{
                 font-size: 20px;
             }
        }
        .fifth-body{
            position: relative;
           .run-tx{
              position: absolute;
              top: 40%;
              right: 12%;
        }
      }
    }
    // main-body close
    .footer{
        height: 355px;
        background-color: @color-black;
        .foot-top{
            height: 70px;
            background-color: #191919;
            position: relative;
            span{
                color: @color-white;
                font-size: 14px;
                border: 1px #F00 solid;
                top: 30%;
            }
            .method{
             position: absolute;
             left:30%;
            }
            .report{
             position: absolute;
             left:60%;
            }
            .method::before{
              content:"";
              width: 30px;
              height: 30px;
              background-image:url(../../images/man.svg);
              border: 1px #F00 solid;
            }
        }
         .foot-content{
             position: relative;
           .f-info{
               border: 1px #F00 solid;
               position: relative;
               span{
                   color:@color-white;
                   font-size: 12px;
                   display: inline-block;
                   border: 1px #F00 solid;
                   letter-spacing: 1px;
                   position: relative;
                   right: -500px;
                   bottom: -100px;
               }
               .a{
                   font-weight: bold;
               }
               .b{
                   font-weight:lighter;
                   font-size: 12px;
               }
           }
           .flogo{
               position:absolute;;
               right: 50%;
               top: 50%;
               height: 100px;
               border: 1px #F00 solid;

           }

         }

    }
