@import url('https://fonts.googleapis.com/css?family=Oswald');
@keyframes change {
  from {
    width: 30px;
  }
  to {
    width: 0%;
  }
}
@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
body {
  font-family: 'Oswald', 'Noto Sans KR', sans-serif;
}
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p,
span {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
img,
video {
  border: 0;
  vertical-align: top;
}
input {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
.blind {
  text-indent: -9999;
  font-size: 0;
}
.header {
  height: 80px;
  padding-top: 20px;
  margin: 0 auto;
  background-color: #000;
}
.header img {
  height: 44px;
  width: 62px;
  padding: 15px;
  float: left;
}
.header .top-menu {
  position: relative;
  display: inline-block;
}
.header .top-menu ul {
  margin-bottom: 10px;
}
.header .top-menu div[class^="tb-"] {
  height: 300px;
  display: none;
  padding: 20px 0;
  background-color: #FFF;
}
.header .top-menu div[class^="tb-"] ul {
  border: 1px #F00 solid;
}
.header .top-menu div[class^="tb-"] li {
  height: 50px;
  width: 220px;
  background-color: #FFF;
}
.header .top-menu div[class^="tb-"] a {
  height: 50px;
  color: #000;
  display: block;
  background-color: #FFF;
}
.header .top-menu div[class^="tb-"] a:hover {
  color: #009599;
}
.header .top-menu li:hover .com-line {
  animation: line 1s;
  -webkit-animation-fill-mode: forwards;
}
.header .top-menu div[class^="tb-"] li:hover {
  border-bottom: 1px #009599 solid;
}
.header .top-menu .top-menu-bar:hover div[class^="tb-"] {
  display: block;
}
.header .top-menu .top-menu-bar a:hover {
  color: #009599;
  display: block;
}
.header .top-menu .top-menu-bar a:last-child {
  border-bottom: none;
}
.header .top-menu .top-menu-bar span:hover {
  color: #009599;
}
.header .top-menu .top-menu-bar {
  margin-left: 250px;
  background-color: #FFF;
  color: black;
  transition: 2s;
  position: absoulte;
}
.header .top-menu .top-menu-bar li {
  width: 220px;
  height: 80px;
  float: left;
  line-height: 80px;
  text-align: center;
  position: relative;
}
.header .top-menu .top-menu-bar li .com-line {
  height: 3px;
  background-color: #009599;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header .top-menu .top-menu-bar a {
  diplay: block;
}
.header .top-menu .top-menu-bar a span {
  display: inline-block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  font-size: 16px;
}
.header .gnb-right {
  float: right;
  margin-right: 20px;
  position: relative;
}
.header .gnb-right .home {
  display: inline-block;
  height: 35px;
  width: 40px;
  background-image: url('http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
  position: relative;
  right: -3px;
  bottom: -16px;
}
.header .gnb-right .home:hover {
  background-color: #535666;
}
.header .gnb-right .eng {
  display: inline-block;
  height: 35px;
  width: 45px;
  background-color: #0b7374;
  position: relative;
  bottom: -5px;
  text-align: center;
}
.header .gnb-right .eng span {
  display: block;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFF;
}
.header .gnb-right .eng:hover {
  background-color: rgba(8, 108, 109, 0.5);
}
.header .gnb-right .navi:hover span {
  animation: change 1s;
  animation-iteration-count: infinite;
}
.header .gnb-right .navi {
  display: inline-block;
  height: 36px;
  width: 40px;
  position: relative;
  right: -10px;
  bottom: -15px;
}
.header .gnb-right .navi span {
  display: block;
}
.header .gnb-right .navi span[class^="line"] {
  border: 1px #F00 solid;
  height: 3px;
  background-color: #fff;
  text-align: right;
  margin-bottom: 10px;
  position: relative;
  right: 0;
  bottom: 0;
  transition: 1s;
}
.header .gnb-right .navi .line1,
.header .gnb-right .navi .line3 {
  width: 30px;
}
.header .gnb-right .navi .line2 {
  width: 20px;
}
.header gnb-rigth:after {
  content: "menu";
  clear: both;
  position: absolute;
  width: 300px;
}
.main-body .first-body {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.main-body .first-body .tt {
  position: absolute;
  top: 40%;
  left: 38%;
}
.main-body .first-body .tt img {
  width: 469px;
  height: 132px;
}
.main-body .second-body li {
  float: left;
  overflow: hidden;
  width: 33.3333333%;
  transition: 1s;
  position: relative;
  vertical-align: top;
}
.main-body .second-body li img {
  width: 100%;
  transition: 1s;
}
.main-body .second-body li .txt {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.main-body .second-body li:hover img {
  transform: scale(1.5, 1.5);
}
.main-body .second-body li:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 131, 132, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transitionn: 1s;
}
.main-body .second-body li:hover:after {
  opacity: 1;
}
.main-body .third-body {
  background-color: #1d2227;
}
.main-body .third-body h3 {
  display: inline-block;
  padding: 42px 0;
  font-size: 40px;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  right: -700px;
  letter-spacing: 3px;
}
.main-body .third-body img {
  margin: 20px;
  position: relative;
  right: -130px;
}
.main-body .forth-body li {
  float: left;
  width: 50%;
  overflow: hidden;
  position: relative;
  transition: 1s;
}
.main-body .forth-body li img {
  width: 100%;
  transition: 1s;
}
.main-body .forth-body li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 131, 132, 0.5);
  opacity: 1;
  transition: 1s;
}
.main-body .forth-body li:hover:after {
  opacity: 0;
}
.main-body .forth-body li:hover img {
  transform: scale(1.5, 1.5);
}
.main-body div[class^="text_s"] {
  position: absolute;
  top: 50%;
  left: 38%;
  display: block;
  color: #FFF;
  text-align: center;
  letter-spacing: -0.5px;
  font-size: 30px;
}
.main-body div[class^="text_s"] :last-child {
  font-size: 20px;
}
.main-body .fifth-body {
  position: relative;
}
.main-body .fifth-body .run-tx {
  position: absolute;
  top: 40%;
  right: 12%;
}
.footer {
  height: 355px;
  background-color: #000;
}
.footer .foot-top {
  height: 70px;
  background-color: #191919;
  position: relative;
}
.footer .foot-top span {
  color: #FFF;
  font-size: 14px;
  border: 1px #F00 solid;
  top: 30%;
}
.footer .foot-top .method {
  position: absolute;
  left: 30%;
}
.footer .foot-top .report {
  position: absolute;
  left: 60%;
}
.footer .foot-top .method::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../../images/man.svg);
  border: 1px #F00 solid;
}
.footer .foot-content {
  position: relative;
}
.footer .foot-content .f-info {
  border: 1px #F00 solid;
  position: relative;
}
.footer .foot-content .f-info span {
  color: #FFF;
  font-size: 12px;
  display: inline-block;
  border: 1px #F00 solid;
  letter-spacing: 1px;
  position: relative;
  right: -500px;
  bottom: -100px;
}
.footer .foot-content .f-info .a {
  font-weight: bold;
}
.footer .foot-content .f-info .b {
  font-weight: lighter;
  font-size: 12px;
}
.footer .foot-content .flogo {
  position: absolute;
  right: 50%;
  top: 50%;
  height: 100px;
  border: 1px #F00 solid;
}
